@import url(https://fonts.google.com/specimen/Open+Sans);
@import url(https://fonts.google.com/specimen/Poppins);


body {
  height: 800px;
  width: 1440px; 
  background-image: url(bg-intro-desktop.png);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-color: hsl(0, 100%, 74%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    height: 50%;
}
.form-1 {
    background: white;
    height: 450px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 11px;
    font-family: 'Poppins';
    box-shadow: 0px 7px rgba(0, 0, 0, 0.1);
}
label {
    display: flex;
    align-items: center;
    font-size: 1.111rem;
    margin-bottom: 0.5rem;
  }
  input {
      margin-top: 20px;
      border: 2px solid lightgray;
      border-radius: 5px;
      height: 50px;
      width: 400px;
      font-size: 15px;
      font-family: 'Poppins';
      padding-left: 25px;
  }
  button {
      margin-top: 20px;
      border-radius: 5px;
      height: 50px;
      width: 400px;
      border: 1px solid hsl(154, 59%, 51%);
      background-color: hsl(154, 59%, 51%);
      color: white;
      font-size: 14px;
      font-family: 'Poppins';
      font-weight: 600;
  }
  ::placeholder {
      color: hsl(249, 10%, 26%);
      font-size: 13px;
      font-weight: 600;
      font-family: 'Poppins';
  }
  .fcontrol:focus {
    border-color: hsl(248, 32%, 49%);
    outline: 0;
  }
  .terms {
      font-size: 12px;
      color: hsl(246, 25%, 77%);
      font-weight: 400;
      margin-top: 17px;
  }
  .span-2 {
      color: hsl(0, 100%, 74%);
  }
  .text-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 500px;
      height: 450px;
      font-family: 'Poppins';
  }
  h1 {
      font-size: 50px;
      color: white;
      font-family: 'Poppins';
  }
  .p-1 {
      font-size: 18px;
      color: white;
      font-family: 'Poppins';
  }
  .membership {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 500px;
      height: 55px;
      background: hsl(248, 32%, 49%) ;
      margin-bottom: 20px;
      border-radius: 11px;
      font-family: 'Poppins';
      box-shadow: 0px 7px rgba(0, 0, 0, 0.1);
  }
  .span-1 {
      color: white;
      font-family: 'Poppins';
  }
  .p-2 {
      color: hsl(246, 25%, 77%);
      font-family: 'Poppins';
      
  }
@media only screen and (max-width: 375px) {
 body {
     background-image: url(bg-intro-mobile.png);
     max-width: 375px !important;
 }
 .container {
     display: flex !important;
     flex-direction: column !important;
     max-width: 100% !important;
}
h1 {
    font-size: 30px;
    margin-left: 55px;
}
.text-1 {
    margin-top: -90px;
    max-width: 320px;
}
.membership {
    max-width: 335px;
}

.form-1  {
    max-width: 335px;
   margin-bottom: 40px;
}
input {
    max-width: 235px;
    display: block;
}
button {
    max-width: 235px;
    display: block;
}
.terms {
    max-width: 235px;
    text-align: center;
    display: block;
}
.p-1{
    text-align: center;
}
}
